* { margin: 0; padding: 0; }

html, body { height: 100%; font-family: "Raleway", sans-serif; font-size: 18px; line-height: 1.3em; color: #333;}

a { color: #005ddf; text-decoration: none; }
a:hover { color: #1375ff;}

header, .content, footer { margin: 1em auto; }
header h1 { text-align: center; }
.content { max-width: 700px; }

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, pre, li { margin-bottom: 18px; }

.home header { margin-bottom: 150px; }
.home header h1 { line-height: 1; font-family: "Indie Flower"; }
.home header h1 em, .home header h1 strong { font-family: "Raleway", sans-serif; display: block; margin: 36px 0; font-style: normal; color: #444; }
.home header h1 em { font-size: 1.5em; }
.home header h1 strong { font-size: 4em; text-transform: uppercase; }

.posts .title { margin-bottom: 9px;}
.posts .title h3 { margin: 0; }
.posts .title span { font-weight: 200; color: #666;}
.posts > li { list-style: none; }
.posts .excerpt * { font-size: 18px; font-weight: normal;}

header.other { margin-bottom: 75px; line-height: 0.8;}
header.other a { color: #444;}
.other .title { font-size: 6em; margin-top: 50px; z-index: 10; text-transform: uppercase; opacity: 1; }
.other .tagline { margin-top: -36px; text-align: center; font-size: 4em; text-transform: lowercase; line-wrap: none; color: #CCC; opacity: 0.5; z-index: 0; height: 1em; overflow: hidden; }

footer { padding: 50px 0; text-align: center; color: #CCC;}