---
---

@import 'variables';
@import 'medium';
@import 'syntax';

/** Layout **/

*, *:before, *:after {
  -webkit-box-sizing: inherit; 
  -moz-box-sizing: inherit; 
  box-sizing: inherit; 
}

html {
  font-size: 10px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background: $heading-text-colour; 
  color: $main-text-colour; 
  font-family: $main-text-font;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  a {

    &:hover {
      background-color: inherit;
      color: darken($default-colour, 15%);
    }
  }

  .nav {
    span {
      padding: 0.5rem 1rem;
      float: right;
    }
    .home {
      float: left;
    }
  }
}

/** Home Page **/

.home {

  header .nav {
    span.home {
      display: none;
    }
    
    a {
      color: lighten($main-text-colour, 15%); 

      &:hover {
        color: darken($default-colour, 15%);
      }
    }    
  }

  .container.home {
    min-height: 90vh;
    position: relative;

    .wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }

  h1 {
    font-size: 5vh;
    padding: 2rem;
    color: lighten($main-text-colour, 15%); 
    text-align: left;
    max-width: 1100px;
    display: block;
    margin: 0 auto;
  }

  footer {
    padding: 1rem;
  }
}


/** Posts & Pages **/

.content.post, .content.page {
  background: $main-background-colour;

  .backhero {
    height: $buffer * 10;
    width: 100%;
    background: lighten($default-colour, 30%);
    position: absolute;
    top: -$buffer * 5;
    // left: $buffer * 1;
    @include skew(2deg);
  }
  .hero {
    background: lighten($default-colour, 20%);
    padding: $buffer * 1.5 0 $buffer * 0.5 0;
    margin-top: -$buffer;
    @include skew(-3deg);

    h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: $buffer;
      text-transform: uppercase;
      color: darken($main-background-colour, 1%);
      padding: $buffer 0;
      margin: 0 auto;
      @include skew(3deg);      
    }
  }

  article {
    padding: $buffer * 2 1rem $buffer * 3 1rem;
  }

}



footer {
  padding: $buffer * 2 1rem; 
  text-align: center; 
  color: lighten($main-text-colour, 15%); 
  background-color: $heading-text-colour;
  margin-top: $buffer * -1;
  @include skew(2deg);

  .social {
    @include skew(-2deg);  

    span {
      padding: 0 0.5rem;
    }
  }

  p {
    font-size: 1.5rem;
  }

  a {
    color: lighten($main-text-colour, 25%);

    &:hover {
      color: $default-colour;
      background-color: $heading-text-colour;
    }
  }
}

#disqus_thread {
  max-width: $main-content-width;
  margin: auto;
  margin-top: -$buffer;
}

@media only screen and (max-width: 730px) {
  article {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Category Colours */

@mixin catergorize($colour, $image) {
  a {
    color: $colour;
  }
  
  a:hover {
    background: rgba($colour, 0.25);
  }

  header a {
    color: $main-background-colour;

     &:hover {
      color: lighten($colour, 10%);
      background: none;
     }
  }

  .post.content {
    .hero {
      background-color: rgba($colour, 0.5);      
    }

    .backhero {
       background-color: rgba($colour, 0.25);           
    }
  }

  footer a {
    color: lighten($main-text-colour, 25%);

    &:hover {
      color: lighten($colour, 10%);
      background: none;      
    }
  }

}

.interwebs  {
  @include catergorize($interwebs, 'brain')
}

.think-better {
  @include catergorize($think-better, 'brain')
}