---
---

* { 
  margin: 0; 
  padding: 0; 
}
*, *:before, *:after {
    box-sizing: border-box;
}

$primary-colour: #53BA83;
$text-colour: #3A4145;
$buffer: 5rem;

.text-font {
  font-family: 'Merriweather', serif;
}
.header-font {
  font-family: "Raleway", sans-serif; 
}

html, body { 
  @extend .text-font;
  font-size: 18px; 
  line-height: 1.75em;
  color: $text-colour; 
  font-weight: 300;  
  height: 100%;  
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, pre, li { 
  margin-bottom: 1rem; 
}
h1, h2, h3, h4, h5, h6 { 
  @extend .header-font; 
}
a { 
  color: $primary-colour; 
  text-decoration: none; 
}
a:hover, .post h1, .post h2 { 
  color: darken($primary-colour, 15%); 
}
sup { margin-top: 0;}
hr { margin: 2em 5em;}
pre { overflow: scroll;}
blockquote { 
  margin-top: 2rem;
  margin-left: 1em;
  margin-bottom: 2rem; 
  padding-left: 1em; 
  font-style: italic; 
  color: #666; 
  border-left: 5px solid #CCC; 
}
ul, ol { 
  margin-left: 2em; 
}
pre { 
  line-height: 1em; 
  padding: 1em; 
}
code { 
  font-family: Courier, 'New Courier', monospace; 
  font-size: .8em; 
  color: #6A739E;  
}
p code { font-size: 1em; margin-right: 0.25rem; margin-left: 0.25rem; }


// Scaffolding //

header { 
  position: absolute;
  top: 0;
  left: 0;
  right: 1rem;
  height: 3rem;

  span {
    float: right;
    padding: 1rem;
  }
  span.home {
    position: fixed;
    font-size: 2rem;
  }
}
.content { 
  margin: 0 auto; 
  max-width: 800px; 
  padding: 2rem 1rem; 
}
.posts {
  list-style: none;
  margin-left: 0;
  h1, h2, h3, h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
.post, .page {
  margin-top: $buffer;
}
.hero {
  text-align: center;
  margin-bottom: 2rem;
  a {
    padding: 0 1rem;
  }
}
.title {
  font-size: 2rem;

  &+ .meta {
    margin-top: -1rem;
    font-size: 0.85rem;
  }
}
.excerpt {
  margin: 1rem 0;
}

article {
  margin-top: $buffer/1.3333;

  h1, h2, h3, h4, h5 {
    margin-top: 2rem;
  }
}

footer { 
  padding: $buffer/1.3333 0; 
  text-align: center; 
  color: lighten($text-colour, 15%);
}

.footnotes { 
  color: #666; 
  font-size: 0.9rem;

  p, li {
    margin-bottom: 0;
  }
}
figure.simulation { 
  position: absolute; 
  left: 0; 
  height: 100%; 
  margin-bottom: 1rem;

  figcaption { 
    text-align: center; 
  }
  + * { 
    margin-top: 85%; 
  }
}

// Components //

#disqus_thread {
  margin-top: 5rem;
}

#hero {
  background: transparent url("/media/ski.jpg") no-repeat fixed center;
  height: 100%;
  color: #FFF;  
  margin-bottom: $buffer;

  .overlay {
    background-color: #666;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.5;
    z-index: 2;
  }

  h1 {
    font-size: 5rem;
    line-height: 0.8;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    display: inline-block;
  }
  h2 {
    padding-top: 0.75rem;
    font-weight: 100;
    span { margin: 0 1rem; }
    a { color: #FFF; }
    a:hover { text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }
  }
  .content {
    position: relative;
    top: 50%;
    z-index: 4;
    text-align: center;  
  }
}
.home header {
  @extend .header-font;
  z-index: 5;
  color: #FFF;
  a {
    color: #FFF;
    &:hover {
      color: darken(#FFF, 15%);
    }
  }
}