---
---

@import 'variables';
@import 'medium';

/** Layout **/

*, *:before, *:after {
  -webkit-box-sizing: inherit; 
  -moz-box-sizing: inherit; 
  box-sizing: inherit; 
}

html {
  font-size: 10px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background: $heading-text-colour; 
  color: $main-text-colour; 
  font-family: $main-text-font;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


/** Posts & Pages **/

.content.post, .content.page {
  background: $main-background-colour;

  .hero {
    padding: 0;
    background: lighten($default-colour, 20%);
    // overflow: hidden;

    h1 {
      padding-top: $buffer;
      margin: 0 auto;
      z-index: 100 !important;
    }

    &:after {
      content: '';
      display: block;
      height: $buffer * 1;
      margin-bottom: -$buffer ;
      @include skew(-2deg);
    }
  }

  article {
    padding: $buffer * 2 0 $buffer * 2 0;
  }

}



footer {
  padding: $buffer 0; 
  text-align: center; 
  color: lighten($main-text-colour, 15%); 

  &:before {
    content: '';
    display: block;
    height: $buffer * 2;
    margin-top: -$buffer * 2;
    @include skew(2deg);
    background-color: $heading-text-colour;
  }

  a {
    color: lighten($main-text-colour, 25%);

    &:hover {
      color: $default-colour;
      background-color: $heading-text-colour;
    }
  }
}

// header { 
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;

//   a { 
//     padding: 1rem;
//     color: $main-background-colour; 
//   }
//   a:hover {
//     color: lighten($default-colour, 50%);
//     background-color: inherit;
//   }

//   span {
//     margin-top: 1rem;
//     float: right;
    
//   }
//   span.home {
//     position: fixed;
//     top: 0;
//     font-size: 3rem;
//     line-height: 1;
//   }
// }

// .white {
//   header a {
//     color: $default-colour;
//   }  

//   h1 {
//     margin: $buffer*1.5 auto $buffer auto;
//   }
// }


#disqus_thread {
  max-width: $main-content-width;
  margin: auto;
  margin-top: $buffer*1.5;
}

@media only screen and (max-width: 730px) {
  article {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Category Colours */

@mixin catergorize($colour, $image) {
  a {
    color: $colour;
  }
  
  a:hover {
    background: rgba($colour, 0.25);
  }

  header a {
    color: $main-background-colour;
  }

  .post.content .hero {
    background: unquote('transparent url("/media/' + $image + '.png") no-repeat fixed center');
    background-position: center top;
    // background-size: cover;
    background-color: rgba($colour, 0.5);      
  }
}

.interwebs  {
  @include catergorize($interwebs, 'brain')
}

.think-better {
  @include catergorize($think-better, 'brain')
}